<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/app.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <%- include ../../components/top-bar/_main -%>
    
    <script src="/js/framework.js"></script>
    <script src="/js/initialize.js"></script>
    <script src="/js/_contact-manager.js"></script>

    <%- body -%>
</body>

</html>